* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom right, #6741d9, #5f3dc4);
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

section {
    max-width: 90rem;
    height: 60rem;
    margin: 12.95rem auto;
    background: linear-gradient(to bottom right, #e5dbff, #d0bfff);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.game-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.game-display-padding {
    padding: 0 2.4rem;
}

.player-container {
    padding: 8rem 5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-player {
    background-color: rgba(132, 94, 247, 0.3);
    width: 100%;
    transition: all 0.3s;
}

section h2 {
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.player-score {
    font-size: 6.4rem;
    margin-top: 2.4rem;
    color: #845ef7;
}

.score-table {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: auto;
    background-color: #845ef7;
    color: #fff;
    padding: 2.4rem 5.6rem;
    border-radius: 12px;
}

.current {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: lighter;
}

.table-score-first-player, .table-score-second-player {
    align-self: center;
    font-size: 3.6rem;
}


button {
    text-transform: uppercase;
    background-color: rgba(243, 240, 255, 0.8);
    padding: 1.2rem 2.4rem;
    font-weight: bold;
    border-radius: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    transition: all 0.3s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

button:hover {
    background-color: rgba(228, 221, 255, 0.8);
}

.button-1 {
    top: 10%;
}

.button-2 {
    top: 65%;
}

.button-3 {
    top: 75%;
}

.button-4 {
    top: -15%;
}

.instruction h2 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
    text-align: center;
}

.instruction-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.instruction-list li {
    font-size: 2.4rem;
}

.back-to-game-button {
    width: 30rem;
    justify-self: end;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-top: 28%;
    padding: 2rem 1rem;
}

.instruction {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    padding: 3.6rem 4.4rem;
    position: absolute;
    width: 70rem;
    height: 70rem;
    border-radius: 15px;
    background-color: #e5dbff;
    box-shadow: 0 0 200rem 200rem rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    position: absolute;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    border-radius: 9px;
    transition: all 0.9s ease-in-out;
}

.images {
    display: none;
}

.dice-img {
    display: none;
}

.congratulations {
    display: grid;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    background-color: #37b24d;
    color: #ebfbee;
    font-size: 8.6rem;
    grid-template-columns: 1fr;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.congratulations button {
    margin-top: -6rem;
    font-size: 4.4rem;
    transform: translateX(0%);
    padding: 3.2rem 12rem;
    position: unset;
    color: #2b8a3e;
}

@media (max-width: 1092px) {
    html {
        font-size: 71.5%;
    }
}

@media (max-width: 953px) {
    .game-display {
        margin-top: 25rem;
    }

    html {
        font-size: 62.5%;
    }
}

@media (max-width: 869px) {
    .game-display {
        height: 70vh;
    }

    html {
        font-size: 53.5%;
    }
}

@media (max-width: 737px) {
    .game-display {
        height: 67vh;
    }

    html {
        font-size: 43.5%;
    }
}

@media (max-width: 605px) {
    .button-1 {
        top: 15%;
    }

    .button-4 {
        top: -10%;
    }

    .game-display {
        height: 66vh;
        font-weight: bold;
    }

    html {
        font-size: 35.5%;
    }
}

@media (max-width: 487px) {
    img {
        width: 15rem;
    }

    .game-display {
        height: 60vh;
        margin-top: 30rem;
    }

    .back-to-game-button {
        margin-top: 15rem;
    }

    html {
        font-size: 29.5%;
    }
}

@media (max-width: 426px) {
    img {
        width: 20rem;
    }

    .instruction {
        padding: 5.6rem 8rem;
        width: 115rem;
        height: 115rem;
    }

    .instruction h2 {
        font-size: 5.6rem;
        margin-bottom: 5rem;
    }

    .instruction button {
        margin-top: 19rem;
        width: 50rem;
        height: 10rem;
    }

    .game-display {
        margin-top: 50rem;
        height: 55vh;
    }

    .congratulations {
        font-size: 12rem;
    }

    .congratulations button {
        margin-top: -6rem;
        font-size: 6.4rem;
        transform: translateX(0%);
        padding: 6.2rem 24rem;
    }

    html {
        font-size: 17.5%;
    }
}