* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom right, #fa5252, #a61e4d);
    font-family: sans-serif;
}

section {
    width: 90rem;
    height: 60rem;
    margin: 12rem auto;
    background: linear-gradient(to bottom right, #ffdeeb, #faa2c1);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.game-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.player-container {
    padding: 8rem 5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-player {
    background-color: rgba(194, 37, 92, 0.3);
    width: 100%;
    border-radius: inherit;

}

section h2 {
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.player-score {
    font-size: 6.4rem;
    margin-top: 2.4rem;
    color: #c2255c;
}

.score-table {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: auto;
    background-color: #c2255c;
    color: #fff;
    padding: 2.4rem 5.6rem;
    border-radius: 12px;
}

.current {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: lighter;
}

.table-score {
    align-self: center;
    font-size: 3.6rem;
}


button {
    text-transform: uppercase;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 1.2rem 2.4rem;
    font-weight: bold;
    border-radius: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

button:hover {
    background-color: rgba(225, 225, 225, 0.8);
}


.button-1 {
    top: 10%;
}

.button-2 {
    top: 65%;
}

.button-3 {
    top: 75%;
}